.todoContentHead{
    display: flex;
    justify-content: space-around;
    margin-bottom:1rem;
}
input{
    outline: none;
    width:70%;
    height:35px;
    text-indent: 1em;
    font-size:0.9rem;
    color:rgba(0,0,0,.6);
    border: 1px solid transparent;
    border-radius: 5px;
}
.todoContentHead span{
    display: block;
    width:36px;
    height:36px;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s linear;
}
.todoContentHead span:hover{
    transform: scale(1.2);
}
.add{
    background-image: url('../static/images/add.png');
}
.delAll{
    background-image: url('../static/images/deleteAll.png');
}